{% extends 'base.html' %}
{% load static %}

<!--body-->
{% block content %}


<h1 style="color: aliceblue; text-align: center;">{{month}}-ONAT-ETECSA</h1>
<br>

<div class="float-left" style="margin-left: 5%;">
    <table class="table table-hover table-light">
        <thead class="thead">
            <tr>
                <th>Total ingreso</th>
                <th>Impuesto segun ingresos</th>
                <th>Fza Trab y S.Social</th>
                <th>Pagar en la ONAT</th>
                <th>Pagado en la ONAT</th>
                <th>Diferencia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="float-right" style="margin-right: 5%; width: 20%;">
<table class="table table-hover table-light">
    <thead class="thead">
        <tr>
            <th>Límites</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2501.00-5000.00</td>
            <td>3%</td>
        </tr>
        <tr>
            <td>5000.00-7000.00</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>7000.00-9000.00</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>9000.00-17000.00</td>
            <td>15%</td>
        </tr>
        <tr>
            <td>+17000.00</td>
            <td>20%</td>
        </tr>
    </tbody>
</table>
</div>

{% endblock content %}