{% extends 'base.html' %}
{% load static %}

<!--body-->
{% block content %}
<style>
    header, section, footer, aside, nav, article, figure, figcaption, hgroup{
  display: block;
}
</style>
<div class="container">
    <h1 style="color: aliceblue; text-align: center;">{{month}}</h1>
    <table class="table table-light table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Fecha</th>
                <th>Cant.</th>
                <th>Valor Facial</th>
                <th>Valor Etecsa</th>
                <th>Ingreso AG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
            </tr>
        </tfoot>
    </table>
</div>
<div style="text-align: center;">
    <a href="{% url 'insert_rtv_cup' %}" class="btn btn-info btn-light" role="button" title="Insertar nuevos datos">Insertar</a>
    <a href="{% url 'menu_rtv_cup' %}" class="btn btn-info btn-light" role="button" title="Ir a otro mes">Cambiar</a>
</div>

{% endblock content %}